body {
  background-color: lightblue;
  color: #007bff;
}

h2 {
  font-weight: 400;
}

input {
  margin: 1rem 0;
}

button {
  margin: 1rem 0;
}

.jumbotron {
  background-color: #007bff;
  color: white;
}
